<div class='panel panel-primary'>
  <div class='panel-body'>
    <p>Click button below to edit bankaccount</p>
    <p>Register new account connected again with Stripe</p>
    <%= link_to "Edit bankaccount", stripe_deauthorize_path, class: "btn btn-danger" %>
  </div>
</div>